# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

###############################
# Visual Studio Specific
###############################

# User-specific files (konfiguracja okien, layoutu itp.)
*.suo
*.user
*.userosscache
*.sln.docattachments

# Foldery generowane podczas kompilacji i cache
[Bb]in/
[Oo]bj/
.vs/

# Pliki bazy danych i diagnostyki
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Pliki logów i tymczasowe
*.log
*.tlog
*.lastbuildstate
